*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}

.wrapper{
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}
h1{
    font-size: 100px;
    font-family: "DynaPuff",cursive;
    color: white;
}
